.balance{
    display: inline-block
}

.navbar{
    margin-bottom: 10px;

}

.remove-link-design{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.spaces{
    margin: 5px;
}

.link {
    text-decoration: none;
    margin-right: 10px;
}